<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Drizzl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <canvas id="forecast-canvas"></canvas>
  <div id="control-panel"></div>
  <div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item"> forecast </div>
    </div>
  </div>
  <h3><%= body %></h3>
  <script src="public/js/forecast.js"></script>
</body>
</html>
