<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Drizzl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <canvas></canvas>

  <h1>Here's the forecast for the id of <%= locals.id  %></h1>

</body>
</html>
