<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>刀尺工乙乙乚</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
  <canvas id="index-canvas"></canvas>
  <div id="location-form-container">
    <form id="location-form" method="post" action="/">
      <h2>Location first.</h2>
      <input id="locate-with-browser" type="button" value="Get mine.">
      <br>
      <h2>or</h2>
      <input id="location-input" type="text" name="location" placeholder="input a location.">
      <input id="location-button" type="button" value="submit">
    </form>
  </div>
  </div>
</body>
<script src="public/js/locate.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMYAKLFDRvG-YyF0p911TH0TSSdhP0SbA"></script>

</html>
