body {
  box-sizing: border-box;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #white;
}

h3 {
  color: #04042f;
}

#index-canvas {
  display: inline-block;
  margin: 0;
  width: 40vw;
  height: 40vh;
  margin-left: 25vw;
  margin-top: 20vh;
  float: left;
}

#location-form-container {
  display: inline-block;
  border: 1px solid black;
  width: 20vw;
  height: 40vh;
  margin-top: 20vh;
  float: left;
}

#forecast-canvas {
  padding: 0.3vw;
  float: left;
  border-radius: 5px;
  box-shadow: inset 0 0 50px white;
}

#control-panel {
  background-color: white;
  display: inline-block;
  float: left;
  width: 19vw;
  height: 79vh;
  overflow-y: auto;
}

#control-panel button {
  display: inline-block;
  width: 10vw;
  margin: 0 3vw;
  background-color: grey;
  border: 1px solid black;
  color: #fefbef;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4vw;
}

#control-panel button.activated {
  background-color: lime;
  border: 4px solid black;
}

#ticker-wrap {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

#ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}
